volumes:
  db:
  redis:
  search:

services:

  db:
    image: postgres:18-alpine
    environment:
      - POSTGRES_MULTIPLE_DATABASES=api,api_test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345
    volumes:
      - ./pg-init-scripts:/docker-entrypoint-initdb.d
      - db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    command:
      - "postgres"
      - "-c"
      - "wal_level=logical"

  redis:
    image: redis/redis-stack:7.2.0-v13
    environment:
      - REDIS_ARGS=--appendonly yes
    volumes:
      - redis:/data
    ports:
      - "6379:6379"

  search:
    image: getmeili/meilisearch:v1.9.0
    restart: always
    environment:
        MEILI_MASTER_KEY: topsecret
    volumes:
     - search:/data.ms
    ports:
      - '7700:7700'
