version: 2.1
orbs:
  common: dailydotdev/common@0.0.13
jobs:
  build-app:
    executor:
      name: common/node
      tag: "22.16"
    steps:
      - common/setup-node
      - run:
          name: Build
          command: pnpm run build
      - persist_to_workspace:
          root: .
          paths:
            - build
  test:
    resource_class: large
    docker:
      - image: cimg/node:22.16
      - image: postgres:17-alpine
        environment:
          POSTGRES_DB: api_test
          POSTGRES_USER: postgresql
          POSTGRES_PASSWORD: 12345
      - image: redis/redis-stack:7.2.0-v13
    parallelism: 6
    steps:
      - common/setup-node
      - common/wait-for:
          protocol: postgresql
          target: "postgres://postgresql:12345@localhost:5432/api_test?sslmode=disable"
      - common/wait-for:
          protocol: redis
          target: "redis://127.0.0.1:6379"
      - run:
          name: Test
          command: |
            pnpm run pretest
            TEST=$(./node_modules/.bin/jest --listTests)
            echo $TEST | circleci tests run --command="xargs ./node_modules/.bin/jest --testEnvironment=node --ci --runInBand --reporters=default --reporters=jest-junit --" --split-by=timings
          environment:
            NODE_OPTIONS: --max-old-space-size=4096
            JEST_JUNIT_OUTPUT_DIR: ./test-results
      - store_test_results:
          path: ./test-results
workflows:
  build:
    jobs:
      - build-app
      - test:
          requires:
            - build-app
          filters:
            branches:
              ignore: main
      - common/build-docker:
          context: GCR
          requires:
            - build-app
          attach-workspace: true
          registry-url: us.gcr.io
          push-latest: << pipeline.git.branch.is_default >>
      - common/pulumi-preview:
          context: PROD
          filters:
            branches:
              ignore:
                - main
      - common/pulumi-up:
          requires:
            - common/build-docker
          context: PROD
          filters:
            branches:
              only:
                - main
