version: 2.1
orbs:
  gcp-gcr: circleci/gcp-gcr@0.6.0
  helm: circleci/helm@0.1.2
  gcp-cli: circleci/gcp-cli@1.8.1

jobs:
  build:
    docker:
      - image: circleci/node:12.16.2
      - image: postgres:11.6-alpine
        environment:
          POSTGRES_DB=api_test
          POSTGRES_PASSWORD=12345
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: Wait for PostgreSQL
          command: |
            for i in `seq 1 10`;
            do
            nc -z localhost 5432 && echo Success && exit 0
            echo -n .
            sleep 1
            done
            echo Failed waiting for Postgress && exit 1
      - run:
          name: Test
          command: npm run test --ci --reporters=default --reporters=jest-junit
          environment:
            - JEST_JUNIT_OUTPUT_DIR: ./test-results
      - store_test_results:
          path: ./test-results
      - store_artifacts:
          path: ./test-results
      - run:
          name: Build
          command: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - build
  build_and_push_docker:
    machine: true
    steps:
      - checkout
      - attach_workspace:
          at: .
      - gcp-gcr/build-image:
          image: $CIRCLE_PROJECT_REPONAME
          tag: $CIRCLE_SHA1
      - gcp-gcr/gcr-auth
      - gcp-gcr/push-image:
          image: $CIRCLE_PROJECT_REPONAME
          tag: $CIRCLE_SHA1
  deploy_helm:
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      - gcp-cli/initialize
      - run:
          name: Decrypt variables
          command: gcloud kms decrypt --ciphertext-file=./helm/values/prod.yaml.enc --plaintext-file=./helm/values/prod.yaml --location=global --keyring=daily-ci --key=daily-api-ci --project daily-ops
      - run:
          name: Get cluster credentials
          command: gcloud container clusters get-credentials prod
      - helm/install-helm-client:
          version: v2.9.1
      - run:
          name: Update Helm release
          command: helm upgrade $CIRCLE_PROJECT_REPONAME ./helm/$CIRCLE_PROJECT_REPONAME --namespace daily -f ./helm/values/prod.yaml --set-string image.tag=$CIRCLE_SHA1 -i
workflows:
  build:
    jobs:
      - build
      - build_and_push_docker:
          requires:
            - build
          context: GCR
          filters:
            branches:
              ignore: /pull\/[0-9]+/
      - deploy_helm:
          requires:
            - build_and_push_docker
          context: PROD
          filters:
            branches:
              only:
                - master
      - gcp-gcr/add-image-tag:
          requires:
            - build_and_push_docker
          context: GCR
          image: $CIRCLE_PROJECT_REPONAME
          source-tag: $CIRCLE_SHA1
          target-tag: latest
          filters:
            branches:
              only:
                - master
